<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Empresa_Samsung.Properties.Settings.EmpresaConnectionString"
            connectionString="Data Source=SJC0562941W10-1\MSSQLSERVER2;Initial Catalog=Empresa;Persist Security Info=True;User ID=sa;Password=@Admin"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>